---

- name: Executar comando em switches Cisco
  hosts: switches
  gather_facts: false
  tasks:


    - name: Get timestamp
      ansible.builtin.command: date +%Y-%m-%d_%H-%M-%S
      register: timestamp
      delegate_to: localhost

    - block:
        - name: gather_facts
          ansible.builtin.gather_facts:
        - name: Display hostname 
          debug:
            msg: "Hostname: {{ ansible_facts.net_hostname }} groups: {{ group_names[0] }}"
          delegate_to: localhost
      rescue:
        - debug:
            msg: "Falha na coleta de fatos"
          delegate_to: localhost


    - name: Backup running configuration
      cisco.ios.ios_config:
        backup: yes
        save_when: always
        backup_options:
          filename: "{{ ansible_facts.net_hostname }}_running-config_{{ timestamp.stdout }}.txt"
          dir_path: "./backups/{{ group_names[0] }}/{{ ansible_facts.net_hostname }}"
      when: ansible_network_os == 'ios' # Example for Cisco IOS


    - name: Create directory for SFTP user
      ansible.builtin.file:
        path: /home/rafaria/sftpfiles/{{ group_names[0] }}/{{ ansible_facts.net_hostname }}
        state: directory
      delegate_to: debian01

    - block:
        - name: Transfer backup to SFTP server from Ansible control node
          ansible.builtin.copy:
            src: "./backups/{{ group_names[0] }}/{{ ansible_facts.net_hostname }}/{{ ansible_facts.net_hostname }}_running-config_{{ timestamp.stdout }}.txt"
            dest: "/home/rafaria/sftpfiles/{{ group_names[0] }}/{{ ansible_facts.net_hostname }}/{{ inventory_hostname }}_running-config_{{ timestamp.stdout }}.txt"
          delegate_to: debian01
      rescue:
        - name: Delete a specific file
          ansible.builtin.file:
            path:  "./backups/{{ group_names[0] }}/{{ ansible_facts.net_hostname }}/{{ ansible_facts.net_hostname }}_running-config_{{ timestamp.stdout }}.txt"
            state: absent
          delegate_to: localhost

    - name: Delete a specific file
      ansible.builtin.file:
        path:  "./backups/{{ group_names[0] }}/{{ ansible_facts.net_hostname }}/{{ ansible_facts.net_hostname }}_running-config_{{ timestamp.stdout }}.txt"
        state: absent
      delegate_to: localhost
